[Unit]
Description=proxy

[Service]
Type=simple
#Restart=always
#StandardOutput=syslog
#StandardError=syslog
ExecStart=/usr/local/bin/puckgo

[Install]
WantedBy=multi-user.target
