[Unit]
Description=proxy

[Service]
Type=simple
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=puckgo
ExecStart=/usr/local/bin/puckgo

[Install]
WantedBy=multi-user.target
